
//
//  .gitignore
//  UniTrack
//
//  Created by Negar Pirasteh on 2025-11-03.
//

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/

# Firebase config
GoogleService-Info.plist

# macOS
.DS_Store
xcuserdata/
**/GoogleService-Info.plist
